:root {
    --color-primary: #2C3E50;
    --color-title: #1ABC9C;
}
.header {
    z-index: 1;
}
.bg-header {
    background-color: var(--color-primary);
}
.color-header {
    color: var(--color-primary);
}
.bg-title {
    background-color: var(--color-title);
}
.color-title {
    color: var(--color-title);
}
.bg-pub {
    background-color: #3A546D;
}
.title-section {
    margin-top: 70px;
}
.hamburger-border {
    border: 2px solid grey;
    padding: 2px 10px;
    border-radius: 5px;
    color: grey;
}
.list a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.list li {
    list-style: none;
}
.avatar {
    max-width: 270px;
    aspect-ratio: 1/1;
}
.title {
    transform: scale(1.3);
}
.line {
    height: 5px;
    width: 80px;
    border-radius: 10px;
    align-self: center;
    flex-grow: 1;
}
.borded {
    border-radius: 10px;
}
.card-style {
    padding-bottom: 20px;
    border: none;
}
.line-small {
    width: 40px;
}
.board {
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    line-height: 36px;
}
html {
    font-size: 18px;
}
@media screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

