:root {
    --bs-primary: #1ABC9C;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58, 84, 109;
    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44, 62, 80;
}
.header {
    z-index: 1;
}
.hamburger-border {
    border: 2px solid grey;
    padding: 2px 10px;
    border-radius: 5px;
    color: grey;
}
.list-unstyled a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.avatar {
    max-width: 250px;
    aspect-ratio: 1/1;
}
.borded {
    border-radius: 10px;
}
.card-style {
    padding-bottom: 20px;
    border: none;
}
.line-small {
    width: 40px;
}
.form-control, textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-control:focus, textarea:focus{
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}
.form-floating>.form-control, .form-floating>label {
    padding: 1rem 0;
}
textarea {
    min-width: 100%;
    border-radius: 5px;
}
textarea:focus-visible {
    outline: none;
}
.btn_primary {
    background-color: var(--bs-primary);
    color: white;
}
.btn_primary:hover {
    background-color: #109b7f;
    color: white;
}
.board {
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    line-height: 36px;
}
.board:first-child:hover {
    background-color: #2763B0;
}
.board:nth-child(2):hover {
    background-color: #FF4430;
}
.board:nth-child(3):hover {
    background-color: #1DA1F2;
}
.board:last-child:hover {
    background-color: #0A66C2;
}


