.bg-header {
    background-color: #2C3E50;
}
.bg-title {
    background-color: #1ABC9C;
}
.bg-pub {
    background-color: #3A546D;
}
.title-section {
    margin-top: 55px;
}
.hamburger-border {
    border: 2px solid grey;
    padding: 2px 10px;
    border-radius: 5px;
    color: grey;
}
.list a {
    text-decoration: none;
    color: white;
}
.list li {
    list-style: none;
}